.introduction(v-cloak v-if="phase == 'intro'")      
  .inner
    h1 Donald Trump fucking lost.
    .desc 
      p Since December of 2017, this 
        b intentionally insecure
        |  website has been a place that encouraged members of the Trump family to enter in their account credentials.
      p Now that he's lost the Presential election, I'll be publishing the list of every un/pw that's been entered into this insecure website.
      p Thanks for stopping by.

    //-.button-holder
      button.button(v-on:click="phase = 'pickTrump'") I am a Trump