<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trump Family Passwords</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Where members of the Trump family can enter in passwords to EARN POINTS.">
    <meta http-equiv="last-modified" content="2017-11-05@01:06:15">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Quicksand">
    <link href="css/trumps.css?lastUpdated=2017-11-05@01:06:15" rel="stylesheet">
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@AhoyLemon">
    <meta name="twitter:title" content="Trump Family Passwords">
    <meta name="twitter:description" content="Where members of the Trump family can enter in passwords to EARN POINTS.">
    <meta name="twitter:image" content="http://trumps.pw/img/og-wide.jpg">
    <meta name="twitter:url" content="http://trumps.pw">
    <!-- OpenGraph-->
    <meta property="og:title" content="Trump Family Passwords">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://trumps.pw">
    <meta property="og:image" content="http://trumps.pw/img/og-wide.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Where members of the Trump family can enter in passwords to EARN POINTS.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffbf00">
    <meta name="theme-color" content="#ffbf00">
  </head>
  <body>
    <main id="app">
      <div class="flag" v-cloak>
        <video v-bind:class="{visible: phase == 'gameOver'}" autoplay muted loop poster="video/flag.jpg">
          <source src="/video/flag.mp4" type="video/mp4">
          <source src="/video/flag.webm" type="video/webm">
        </video>
      </div>
      <button class="sidebar-button" v-on:click="sidebarVisible = !sidebarVisible" v-bind:class=" {active: sidebarVisible} ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle class="fill" cx="50.6" cy="49.7" r="42"></circle>
          <path class="outline" d="M50 96C24.6 96 4 75.4 4 50S24.6 4 50 4s46 20.6 46 46-20.6 46-46 46zm0-86.2C27.8 9.8 9.8 27.8 9.8 50s18 40.3 40.2 40.3S90.3 72.2 90.3 50 72.2 9.8 50 9.8z"></path>
          <path class="question-mark" d="M47.6 58.9c-.6-.7-.9-1.6-.9-2.8 0-2.4.4-4.3 1.3-5.9.9-1.6 2.1-3.3 3.8-5.2 1.2-1.4 2.2-2.6 2.7-3.6.6-.9.9-2 .9-3.2 0-1.3-.5-2.3-1.4-3.1-1-.7-2.3-1.1-3.9-1.1-1.5 0-2.9.3-4.1.9-1.3.6-3 1.5-5.1 2.8-1.3.7-2.4 1.1-3.3 1.1-1 0-1.8-.4-2.5-1.3s-1-1.9-1-3.1c0-.8.1-1.5.5-2.1.3-.6.8-1.1 1.4-1.6 2-1.6 4.4-2.9 7-3.8 2.7-.9 5.3-1.4 8-1.4 2.9 0 5.4.5 7.7 1.5s4.1 2.4 5.3 4.2c1.3 1.8 1.9 3.8 1.9 6 0 1.7-.3 3.3-1 4.7-.7 1.4-1.5 2.6-2.4 3.7-.9 1-2.2 2.3-3.7 3.8-1.8 1.6-3.1 3-4 4.1-.9 1.1-1.4 2.3-1.7 3.6-.2.9-.6 1.6-1.1 2-.6.5-1.3.7-2.1.7-1 .1-1.8-.2-2.3-.9zm-1.7 14.8c-1.1-1.1-1.7-2.6-1.7-4.3 0-1.7.6-3.1 1.7-4.3s2.5-1.7 4.2-1.7c1.7 0 3 .6 4.2 1.7 1.1 1.1 1.7 2.6 1.7 4.3 0 1.7-.6 3.1-1.7 4.3-1.1 1.1-2.5 1.7-4.2 1.7-1.7 0-3.1-.5-4.2-1.7z"></path>
          <path class="x" d="M70.3 69c0 1.3-.5 2.4-1.5 3.3-1 .9-2.1 1.4-3.4 1.4-1.3 0-2.4-.6-3.4-1.7L49.6 56.9 37 72.1c-1 1.1-2.1 1.7-3.4 1.7-1.2 0-2.3-.5-3.3-1.4-1-.9-1.5-2.1-1.5-3.3 0-1.1.4-2.1 1.2-3L43.5 50l-13-15.8c-.8-1-1.3-2-1.3-3 0-1.3.5-2.4 1.5-3.3 1-.9 2.1-1.4 3.3-1.4 1.3 0 2.5.6 3.4 1.7l12.1 14.6 12-14.6c1-1.1 2.1-1.7 3.4-1.7 1.2 0 2.3.5 3.3 1.4 1 .9 1.5 2.1 1.5 3.3 0 1.1-.4 2.1-1.2 3l-13 15.6L69 65.9c.9 1 1.3 2 1.3 3.1z"></path>
        </svg>
      </button>
      <div class="sidebar" v-bind:class=" {visible: sidebarVisible} ">
        <ul>
          <li><span class="label">This site is</span><span class="indent"><span>by </span><a href="http://ahoylemon.xyz" target="_blank" onclick="sendGA('outside link', 'site by Lemon', http://ahoylemon.xyz')">Lemon</a></span><span class="indent" style="font-weight:400;"> and only meant for members of the Trump family. </span></li>
          <li><span class="label">If you aren't a Trump, please send them a link to this website. And then</span><span class="indent"><span>play </span><a href="https://damn.dog" target="_blank" onclick="sendGA('outside link', 'damn.dog', https://damn.dog')">damn.dog</a></span><span class="indent"><span>or </span><a href="https://idiots.win" target="_blank" onclick="sendGA('outside link', 'idiots.win', https://idiots.win')">idiots.win</a></span><span class="indent"><span>or </span><a href="http://ahoylemon.xyz" target="_blank" onclick="sendGA('outside link', 'any of these', http://ahoylemon.xyz')">any of these</a>.</span></li>
        </ul>
      </div>
      <div class="introduction" v-cloak v-if="phase == 'intro'">     
        <div class="inner">
          <h1>Trump Family Passwords </h1>
          <div class="desc"> 
            <p>
                This is a site where members of the Trump family can <b>earn points</b> by entering in their passwords!</p>
            <p>
               This <b>exclusive</b> and <b>amazing</b> web service is <i>only</i> for members of the Trump family.</p>
          </div>
          <div class="button-holder">
            <button class="button" v-on:click="phase = 'pickTrump'">I am a Trump</button>
          </div>
        </div>
      </div>
      <div class="pick-trump" v-if="phase == 'pickTrump'" v-cloak>
        <div class="inner">
          <h3 class="which-trump-headline">Which Trump are you?</h3>
          <div class="trumps"><a class="avatar" v-for="trump in trumpFamily" v-bind:class="trump.class" v-bind:style="{ backgroundImage: 'url(img/profiles/600/' + trump.fileSrc + ')' }" v-on:click="trumpPicked(trump)"></a></div>
        </div>
      </div>
      <div class="password-screen screen" v-cloak v-if="phase == 'enterPassword'">
        <button class="close-button" v-on:click="phase = 'pickTrump'">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <circle class="fill" cx="50.6" cy="49.7" r="42"></circle>
            <path class="x" d="M70.3 69c0 1.3-.5 2.4-1.5 3.3-1 .9-2.1 1.4-3.4 1.4-1.3 0-2.4-.6-3.4-1.7L49.6 56.9 37 72.1c-1 1.1-2.1 1.7-3.4 1.7-1.2 0-2.3-.5-3.3-1.4-1-.9-1.5-2.1-1.5-3.3 0-1.1.4-2.1 1.2-3L43.5 50l-13-15.8c-.8-1-1.3-2-1.3-3 0-1.3.5-2.4 1.5-3.3 1-.9 2.1-1.4 3.3-1.4 1.3 0 2.5.6 3.4 1.7l12.1 14.6 12-14.6c1-1.1 2.1-1.7 3.4-1.7 1.2 0 2.3.5 3.3 1.4 1 .9 1.5 2.1 1.5 3.3 0 1.1-.4 2.1-1.2 3l-13 15.6L69 65.9c.9 1 1.3 2 1.3 3.1z"></path>
          </svg>
        </button>
        <div class="top-row">
          <div class="welcome-box">
            <figure class="avatar" v-bind:style="{backgroundImage:'url('+my.avatar+')'}"></figure>
          </div>
          <div class="welcome-text"><span>Hi, {{my.name}}!</span></div>
        </div>
        <div class="instruction-row"><span v-if="round.info" v-html="round.info"></span><span v-else>Enter your <b>{{round.name}} </b>credentials for <b class="points">{{round.points}} points!</b></span>
          <div class="formbox" v-if="round.type.name == 'yes/no'">
            <div class="icon-holder">
              <div class="icon-box" v-if="round.type.icon"><img :src="'svg/logo/'+round.type.icon"></div>
            </div>
            <div class="input-holder">
              <div class="desc" v-html="round.question"></div>
              <div class="radios">
                <button class="radio" v-bind:class="{checked: round.password == 'yes'}" v-on:click="round.password = 'yes'; roundSubmit()"><span>Yes</span></button>
                <button class="radio" v-bind:class="{checked: round.password == 'no'}" v-on:click="round.password = 'no'; roundSubmit()"><span>no</span></button>
              </div>
            </div>
          </div>
          <div class="formbox" v-else-if="round.type.name == 'question'">
            <div class="icon-holder">
              <div class="icon-box" v-if="round.type.icon"><img :src="'svg/logo/'+round.type.icon"></div>
            </div>
            <div class="input-holder">
              <div class="desc" v-html="round.question"></div>
              <label class="textarea">
                <textarea v-model="round.password" placeholder="type your answer here"></textarea>
                <div class="error-msg password-error" v-show="errors.password" v-html="errors.password"></div>
              </label>
              <div class="buttons">
                <button class="skip" v-on:click="nextRound()">Skip</button>
                <button class="submit" v-on:click="roundSubmit()">Redeem</button>
              </div>
            </div>
          </div>
          <div class="formbox" v-else-if="round.type.name == 'credit card'">
            <div class="icon-holder">
              <div class="icon-box" v-if="round.type.icon"><img :src="'svg/logo/'+round.type.icon"></div>
            </div>
            <div class="input-holder">
              <label class="card-number"><span>Card Number</span>
                <input class="card-number" type="text" v-mask="'#### #### #### ####'" placeholder="#### #### #### ####" v-model="creditCard.number" v-on:keyup="checkCreditCardType()" v-bind:class="{error: errors.cardNumber}" v-focus>
                <div class="error-msg username-error" v-if="errors.cardNumber" v-html="errors.cardNumber"></div>
              </label>
              <label class="expiration"><span>Expiration</span>
                <input type="text" v-mask="'##/####'" placeholder="MM/YYYY" v-model="creditCard.expiration" v-bind:class="{error: errors.expiration}">
                <div class="error-msg username-error" v-if="errors.expiration" v-html="errors.expiration"></div>
              </label>
              <label class="cvc"><span>CVC</span>
                <input type="text" v-mask="'###'" placeholder="###" v-model="creditCard.cvc" v-bind:class="{error: errors.cvc}">
                <div class="error-msg username-error" v-if="errors.cvc" v-html="errors.cvc"></div>
              </label>
              <div class="buttons">
                <button class="skip" v-on:click="nextRound()">Skip</button>
                <button class="submit" v-on:click="roundSubmit()">Redeem</button>
              </div>
            </div>
          </div>
          <div class="formbox" v-else-if="round.type.name == 'captcha'">
            <div class="icon-holder">
              <div class="icon-box" v-if="round.type.icon"><img :src="'svg/logo/'+round.type.icon"></div>
            </div>
            <form class="input-holder" v-on:submit.prevent="roundSubmit">
              <label class="captcha-image"><img :src="'img/captcha/'+round.img"></label>
              <label class="password">
                <input type="text" v-model="round.password" v-bind:class="{error: errors.password}" v-focus>
                <div class="error-msg password-error" v-show="errors.password" v-html="errors.password"></div>
              </label>
              <div class="buttons">
                <button class="submit" type="submit">Continue</button>
              </div>
            </form>
          </div>
          <div class="formbox" v-else>
            <div class="icon-holder">
              <div class="icon-box" v-if="round.type.icon"><img :src="'svg/logo/'+round.type.icon"></div>
            </div>
            <div class="input-holder">
              <label class="username" v-if="round.loginType == 'password only'">
                <!-- nothing here.-->
              </label>
              <label class="username" v-else-if="round.loginType == 'email'"><span>Email Address</span>
                <input type="email" v-model="round.username" v-bind:class="{error: errors.username}" v-focus>
                <div class="error-msg username-error" v-if="errors.username" v-html="errors.username"></div>
              </label>
              <label class="username" v-else-if="round.type.name == 'Facebook'"><span>Email or Phone</span>
                <input type="text" v-model="round.username" v-focus>
                <div class="error-msg username-error" v-if="errors.username" v-html="errors.username"></div>
              </label>
              <label class="username" v-else-if="round.loginType == 'phone'"><span>Phone Number</span>
                <input type="tel" v-mask="'(###) ###-####'" placeholder="(###) ###-####" v-model="round.username" v-bind:class="{error: errors.username}" v-focus>
                <div class="error-msg username-error" v-if="errors.username" v-html="errors.username"></div>
              </label>
              <label class="username" v-else><span v-if="round.loginType" v-text="round.loginType"></span><span v-else>Username</span>
                <!--input(v-if="round.username" type="text" v-model="round.username")-->
                <input v-if="round.type.name == 'Twitter'" type="text" v-model="round.username">
                <input v-else type="text" v-model="round.username" v-focus>
                <div class="error-msg username-error" v-if="errors.username" v-html="errors.username"></div>
              </label>
              <label class="password"><span v-if="round.passwordType">{{round.passwordType}}</span><span v-else>Password</span>
                <input v-if="round.passwordType == 'PIN'" v-model="round.password" v-mask="'########'" v-bind:class="{error: errors.password}">
                <input v-else-if="round.loginType == 'password only' || round.type.name == 'Twitter'" v-model="round.password" v-bind:class="{error: errors.password}" v-focus>
                <input v-else type="text" v-model="round.password" v-bind:class="{error: errors.password}">
                <div class="error-msg password-error" v-show="errors.password" v-html="errors.password"></div>
              </label>
              <div class="buttons">
                <button class="skip" v-on:click="nextRound()">Skip</button>
                <button class="submit" v-on:click="roundSubmit()">Redeem</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="game-over screen" v-if="phase == 'gameOver'" v-cloak>
        <button class="close-button" v-on:click="phase = 'pickTrump'">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <circle class="fill" cx="50.6" cy="49.7" r="42"></circle>
            <path class="x" d="M70.3 69c0 1.3-.5 2.4-1.5 3.3-1 .9-2.1 1.4-3.4 1.4-1.3 0-2.4-.6-3.4-1.7L49.6 56.9 37 72.1c-1 1.1-2.1 1.7-3.4 1.7-1.2 0-2.3-.5-3.3-1.4-1-.9-1.5-2.1-1.5-3.3 0-1.1.4-2.1 1.2-3L43.5 50l-13-15.8c-.8-1-1.3-2-1.3-3 0-1.3.5-2.4 1.5-3.3 1-.9 2.1-1.4 3.3-1.4 1.3 0 2.5.6 3.4 1.7l12.1 14.6 12-14.6c1-1.1 2.1-1.7 3.4-1.7 1.2 0 2.3.5 3.3 1.4 1 .9 1.5 2.1 1.5 3.3 0 1.1-.4 2.1-1.2 3l-13 15.6L69 65.9c.9 1 1.3 2 1.3 3.1z"></path>
          </svg>
        </button>
        <div class="top-row">
          <div class="welcome-box">
            <figure class="avatar" v-bind:style="{backgroundImage:'url('+my.avatar+')'}"></figure>
          </div>
          <div class="welcome-text"><span v-if="my.points">Great job, {{my.name}}!</span><span v-else>Thanks, {{my.name}}</span></div>
        </div>
        <div class="instruction-row" v-if="my.points &gt; 0">
          <p>{{my.name}}, You've just earned <strong class="blue bigger">{{my.points}} points</strong> from this exciting system. These points can be redeemed for <i>exciting prizes</i> once we verify that all the passwords are working.</p>
          <p>In the meantime {{my.name}}, please inform the rest of your family about this <i>tremendous</i> system, which is <i>only</i> for members of the Trump family!</p>
        </div>
        <div class="instruction-row" v-else>
          <p>Unfortunately, you <strong class="blue">didn't earn any points </strong> from our exclusive website because you didn't enter in any passwords.</p>
          <p>If you can remember some of your passwords, you can <a class="start-over" v-on:click="startOver">start over</a> and earn some points.</p>
          <p>Otherwise, tell the rest of your family to use this <i>exclusive</i> website to <i> earn points </i> by entering passwords.</p>
        </div>
        <div class="instruction-row">
          <p class="button-holder"><a class="button" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ftrumps.pw&amp;text=This%20great%20and%20good%20website%20is%20where%20Trumps%20can%20trade%20their%20passwords%20for%20POINTS.">Share on Twitter</a></p>
        </div>
      </div>
    </main>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Trump Family Passwords",
        "url": "http://trumps.pw",
        "image": "http://trumps.pw/img/og-square.jpg",
        "description": "Where members of the Trump family can enter in passwords to EARN POINTS.",
        "inLanguage": "English",
        "author": {
          "@type": "Person",
          "name": "Lemon",
          "url": "http://ahoylemon.xyz",
          "sameAs": [
            "https://thefpl.us/meet/lemon",
            "https://twitter.com/AhoyLemon"
          ]
        },
        "publisher": {
          "@type": "PerformingGroup",
          "name": "The F Plus",
          "url": "https://thefpl.us"
        }
      }
    </script>
    <div class="javascripts">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="js/libraries/vue.min.js"></script>
      <script src="https://cdn.jsdelivr.net/vuefire/1.0.0/vuefire.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
      <script src="js/libraries/vuemask.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-focus/2.1.0/vue-focus.min.js"></script>
      <script src="js/libraries/pnotify.custom.min.js"></script>
      <script>
        // As a plugin
        Vue.use(VueMask.VueMaskPlugin);
        Vue.use(VueFire);
        
        // As a directive
        //Vue.directive('mask', VueMask.VueMaskDirective);
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBcOUvpUVZyu4IRcohETZyJlowW7l-5oro",
          authDomain: "trumps-pw.firebaseapp.com",
          databaseURL: "https://trumps-pw.firebaseio.com",
          projectId: "trumps-pw",
          storageBucket: "trumps-pw.appspot.com",
          messagingSenderId: "296029786638"
        };
        var firebaseApp = firebase.initializeApp(config)
        var db = firebaseApp.database();
        var trumpsDb = db.ref('trumps');
        
      </script>
      <script src="js/min/trumps.min.js?lastUpdated=2017-11-05@01:06:15"></script>
      <script>
        //------ Pnotify settings & defaults ----------------
        PNotify.prototype.options.icon = false;
        var stack_bottomright = {"dir1": "up", "dir2": "left", "firstpos1": 25, "firstpos2": 25};
        PNotify.prototype.options.stack = stack_bottomright;
        PNotify.prototype.options.addclass = "stack-bottomright";
        PNotify.prototype.options.animate.animate = true;
        PNotify.prototype.options.animate.in_class = 'bounceInDown',
        PNotify.prototype.options.animate.out_class = 'bounceOutDown';
        
      </script>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-15129990-29', 'auto');
        ga('send', 'pageview');
      </script>
    </div>
  </body>
</html>