
<div class="formbox" v-else-if="round.type.name == 'credit card'">
  <div class="icon-holder">
    <div class="icon-box" v-if="round.type.icon"><img :src="'svg/logo/'+round.type.icon"/></div>
  </div>
  <div class="input-holder">
    <label class="card-number"><span>Card Number</span>
      <input class="card-number" type="text" v-mask="'#### #### #### ####'" placeholder="#### #### #### ####" v-model="creditCard.number" v-on:keyup="checkCreditCardType()" v-bind:class="{error: errors.cardNumber}" v-focus="v-focus"/>
      <div class="error-msg username-error" v-if="errors.cardNumber" v-html="errors.cardNumber"></div>
    </label>
    <label class="expiration"><span>Expiration</span>
      <input type="text" v-mask="'##/####'" placeholder="MM/YYYY" v-model="creditCard.expiration" v-bind:class="{error: errors.expiration}"/>
      <div class="error-msg username-error" v-if="errors.expiration" v-html="errors.expiration"></div>
    </label>
    <label class="cvc"><span>CVC</span>
      <input type="text" v-mask="'###'" placeholder="###" v-model="creditCard.cvc" v-bind:class="{error: errors.cvc}"/>
      <div class="error-msg username-error" v-if="errors.cvc" v-html="errors.cvc"></div>
    </label>
    <div class="buttons">
      <button class="skip" v-on:click="nextRound()">Skip</button>
      <button class="submit" v-on:click="roundSubmit()">Redeem</button>
    </div>
  </div>
</div>