$font:'Bitter', serif;

body { height: auto; }
.password-screen { background-color:$white; max-width: 460px; margin: 2em auto; padding: 1em; position: relative; font-family: $font;
  
  //input { font-family: $font; font-family:$sans; }
  .close-passwords { @include position(absolute,2px,2px); border:none; padding: 0; cursor: pointer;
    svg { width:2.7em; height:2.7em;
      * { fill:$red; }
    }
    
    .fill { opacity: 0; }
    &:hover {
      .fill { opacity:1; }
      svg .x { fill:$white; }
    }
  }
  
  .top-row { @include flex-container(); margin-bottom: 1em;
    figure.avatar { width:5rem; height:5rem; border-radius: 50%; background-size:cover; background-position: center; }
    .welcome-text { @include flex-center();
      span { padding-left: 0.4em; font-size:3em; @extend %goldText; }
    }
    
  }
  
  .instruction-row {
    b { color:$blue; }
  }
  
  .formbox { padding-top:2em; padding-top: 1em; @include flex-container(); justify-content: space-between; 
    .error-msg { color:$red; display: block; padding-top: 0.25em; font-family: $sans; font-size:80%; }
    input.error { border:2px solid $red; }
    
    .icon-holder { @include flex-item(100px); padding-right: 1em; padding-top: 2em; 
      img { display: block; width:80px; height: 80px;  border-radius: 50%; }
    }
    .input-holder { @include flex-item(calc(100% - 100px)); @include flex-container(); }
    
    
  }
  .username, .password, .card-number, .buttons { @include flex-item(100%); }
  .expiration, .cvc { @include flex-item(calc(50% - 10px),0);
  }
  
  label { margin-bottom: 1.25em;
    span { display: block; text-transform: uppercase; padding-left: 1rem; font-weight: $bold }
    input { width: 100%; display: block; font-size:1.5rem; padding: 0.25em 1rem; border:none; }
  }
  .buttons { text-align: center; padding-top: 1em;
    button { display: inline-block; font-size: 1.25rem; border:1px solid $black; padding: 0.45em 1.25em; cursor: pointer; }
    .skip { margin-right: 1em; }
    .submit { background:$goldGradient; color:$white; text-shadow: 1px 1px 1px $black, -1px -1px 1px $black; border-color:gold; }
    button:hover { box-shadow: 2px 2px 2px $black; }
    button:active { box-shadow: inset 2px 2px 2px $black; }
  }
  
}
  