- var testing = false
- var siteTitle = "Trump Family Passwords"
- var siteURL = "http://trumps.pw"
- var fPlusURL = false
- var description = "Where members of the Trump family can enter in passwords to EARN POINTS."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    main#app
      
      .flag(v-cloak)
        video(v-bind:class="{visible: phase == 'gameOver'}" autoplay muted loop poster="video/flag.jpg")
          source(src="/video/flag.mp4" type="video/mp4")
          source(src="/video/flag.webm" type="video/webm")
      
      include partials/_sidebar.pug
      
      include partials/_introduction.pug

      include partials/_picktrump.pug
      
      include partials/_round.pug

      include partials/_gameover.pug
    
    include partials/_schema.pug
    include partials/_javascripts.pug