doctype html
html(lang="en")
  head
    title Hello!
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Quicksand")
    link(href="/css/readout.css" rel="stylesheet")
    script(src="/js/libraries/vue.full.js")
    script(src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js")
    script(src="https://unpkg.com/vuefire/dist/vuefire.js")
  body
    main#app
            
      .table-holder
        table.passtable
          thead
            tr
              th Trump
              th Site
              th Username
              th Password
          tbody
            template(v-for="(item,person) in trumpPasses")
              template(v-for="(foo,site) in item")
                template(v-if="!foo.count" v-for="(x,y) in foo")
                  tr.row.pass-row(v-if="x.username && x.password")
                    td.cell {{person}}
                    td.cell {{site}}
                    td.cell {{x.username}}
                    td.cell {{x.password}}
                    
      .table-holder
        table.passtable
          thead
            tr
              th Trump
              th Count
              th #
          tbody
            template(v-for="(item,person) in trumpPasses")
              template(v-for="(foo,site) in item")
                tr.row.pass-row(v-if="foo.count")
                  td.cell {{person}}
                  td.cell {{site}}
                  td.cell {{foo.count}}
                template(v-if="foo.yes")
                  tr.row.pass-row
                    td.cell {{person}}
                    td.cell 
                      b Yes
                      |  to {{site}}
                    td.cell {{foo.yes}}
                  tr.row.pass-row
                    td.cell {{person}}
                    td.cell 
                      b No
                      |  to {{site}}
                    td.cell {{foo.no}}
    script.
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBcOUvpUVZyu4IRcohETZyJlowW7l-5oro",
        authDomain: "trumps-pw.firebaseapp.com",
        databaseURL: "https://trumps-pw.firebaseio.com",
        projectId: "trumps-pw",
        storageBucket: "trumps-pw.appspot.com",
        messagingSenderId: "296029786638"
      };
      var firebaseApp = firebase.initializeApp(config);
      var db = firebaseApp.database();
      var trumpsDb = db.ref('trumps');

      let vue = new Vue({
        el: '#app',
        data: {
          loaded: true
        },
        firebase: {
          trumpPasses: {
            source: db.ref('trumps'),
            // optionally bind as an object
            asObject: true,
            // optionally provide the cancelCallback
            cancelCallback: function () {},
            // this is called once the data has been retrieved from firebase
            readyCallback: function () {}
          } 
        }
      });